# Dependencies
node_modules/
.pnp
.pnp.*

# Build output
.next/
out/
dist/
build/

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
.nyc_output/

# Editor
.vscode/
.idea/

# Nginx local certs
nginx/certs/*
!nginx/certs/.gitkeep

# Prisma
prisma/*.db
prisma/migrations/dev/
